@import '../../../components/utils/css/color.scss';

.crawler-container {
    background: $black;
    padding: 2rem;
    color: $white;
}
.crawler {
    width: 60%;
    margin: 0 auto;
}
.search-container {
    display: flex;

    .search-input {
        width: 100%;
        height: 3rem;
        font-size: 1.2rem;
        outline: none;
        padding: 0 1rem;
    }
    .search-btn {
        background: $orange;
        border: none;
        padding: 0 3rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        outline: none;
    }
    .btn-loading {
        background: $dark-orange;
    }
}
.library-list {
    border: 0.3rem solid $black;
    margin: 2rem auto 0;

    
    .library-row {
        padding: 1.5rem;
        border-bottom: 1px solid $black;
        h3 {
            font-size: 1.2rem;
        }
        p {
            font-size: 0.8rem;
        }
        a {
            color: $white;
            word-break: break-all;
        }

        .library-urls, .library-site, .count-container {
            flex: 1;
        }
        .library-count {
            font-size: 3rem;
            font-weight: 700;
            line-height: 2rem;
        }

        .library-urls li {
            list-style-type: none;
            font-size: 0.875rem;
        }
        .library-text {
            white-space: nowrap;
        }
    }
}