@import '../../components/utils/css/color.scss';

.header {
    background: $white;
    width: 100%;
    height: 80px;
    display: flex;
    
    .logo-container {
        width: 150px;
    }
    .logo {
        padding: 0.5rem 1rem;
    }
    .title-container {
        padding: 1.5rem 0;
    }
    .title {
        font-size: 1.5rem;
        margin: 0;
    }
}
