$light-grey           : #E4E4E4;
$grey                 : #999999;

//Orange
$orange               : #ff5f00;
$dark-orange          : #b34100;
$dark-green           : #4e8036;

//Red 
$red                  : #ec6a66;

$white                : #FFF;
$black                : #000;



